{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %}<title>Reset your password</title>{% endblock %}
{% block content %}
  
<div class="container">
  <p class="h1 text-primary mt-5 mb-3">Password reset</p>
  {% if validlink %}
    <p>Please enter your new password twice:</p>
    <form method="post">
      {{ form|crispy }}
      {% csrf_token %}
      <input class="btn btn-primary" type="submit" value="Change password">
    </form>
  {% else %}
    <p>The password reset link was invalid, possibly because it has already been used.</p> 
    <p>Please request a new password reset link <a href="{% url "password_reset" %}">here</a>.</p>
  {% endif %}
</div>
{% endblock %}