{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %} <title>Reset your password</title>{% endblock %}
{% block content %}

<div class="container">
  <p class="h1 text-primary mt-5 mb-3">Forgotten your password?</p>
  
  <p>Enter your e-mail address to obtain a new password.</p>
  <p>Please use the email address that you used during the sign-up process.</p>
  <form method="post">
    {{ form|crispy }}
    {% csrf_token %}
    <input class="btn btn-primary" type="submit" value="Send email">
  </form>
</div>
{% endblock %}